# Dependencies
node_modules

# Build outputs
release/
release-*/
*.exe
*.dmg
*.AppImage
*.snap
*.deb
*.rpm

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
